// Variables for light and dark mode
$light-background-color: #fff;
$light-text-color: #333;
$dark-background-color: #000;
$dark-text-color: #fff;

.landing-page {
  font-family: Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
  margin: 0;
  position: relative; 
  z-index: 1; 
}

.landing-page.light {
  background-color: $light-background-color;
  color: $light-text-color;
}

.landing-page.dark {
  background-color: $dark-background-color;
  color: $dark-text-color;
}

.lheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $light-background-color;
  width: 100%;
  max-width: 1200px;
  padding: 10px 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 10vh;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

// .Become {
//   animation: bounce 7s linear infinite;
// }

.landing-page.dark .lheader {
  background-color: $dark-background-color;
}

.logo img {
  width: 50px;
  animation: bounce 9s linear infinite;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
}

nav ul {
  list-style-type: none;
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }
}

nav ul li {
  margin-right: 20px;

  @media (max-width: 768px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

nav ul li a {
  text-decoration: none;
  color: $light-text-color;
}

.lsearch input[type="text"] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pop-out-menu {
  position: fixed;
  background-color: #023E8A;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  list-style: none;
  margin: 0;

  li {
    a {
      color: $dark-text-color; 
    }
  }
}

.lsearch button {
  padding: 8px 15px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero {
  padding: 50px 0;
  text-align: center;
  flex: 1;

  @media (max-width: 768px) {
    padding: 30px 0;
  }
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .hero-content button {
    display: none;
  }
}


.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.hero-content button {
  padding: 10px 20px;
  margin: 25px;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;

  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

.features {
  padding: 50px 0;
  text-align: center;
  flex: 1;
  z-index: 2;

  @media (max-width: 768px) {
    padding: 30px 0;
  }
}

.features h2 {
  font-size: 2rem;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.feature-item {
  margin-bottom: 30px;

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.feature-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

// Footer styles
.footer {
  text-align: center;
  padding: 35px 0;
  background-color: #333;
  color: #fff;
  width: 100%;
  height: 10vh;
  margin-top: auto;
  z-index: 2;
  // border-radius: 10px;
}

// Particles 
#particles {
  z-index: -1; // Ensure particles are behind everything
  width: 100%;
  height: 30vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

// Statistics styles
.bottom-portion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.statistics .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}

.statistics img {
  height: 40px;
  width: 40px;
}

.statistics img:hover {
  animation: bounce 3s linear infinite;
}

.statistics p {
  padding: 0;
  margin: 0;
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light-background-color;
  padding: .5rem;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}






// for the faqs
.faq-section {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.faq-item h3 {
  cursor: pointer;
  margin: 0;
  transition: color 0.3s, text-decoration 0.3s;
}

.faq-item h3:hover {
  color: #007BFF; 
  text-decoration: underline; 
}

.faq-item p {
  margin: 10px 0 0;
  display: none; /* Initially hide the answers */
}

.faq-item.active p {
  display: block; /* Show the answer when the question is active */
}

